@media (max-width: 600px) {
    #nav {
        display: block;
    }

    #header {
        overflow: hidden;
    }

    #header #nav li {
        display: block;
    }

    #nav li a {
        display: block;
    }

    #nav li #home {
        display: inline-block;
    }
    .search-btn {
        display: none;
    }

    .menu-btn {
        display: block;
    }

    #nav #subnav {
        position: relative; /* Thay vì absolute để nó nằm trong luồng của header */
        left: 0;
        top: 0;
        width: 100%;
        box-shadow: none;
        background-color: #4d4d4d; /* Màu nền khác một chút để phân biệt */
    }

    #nav #subnav a {
        background: #333;
        color: #fff;
    }

    .content-about {
        padding: 0;
    }

    .content-member-list {
        padding: 46px 0 0 0;
    }

    .content-member-item {
        width: 100%;
        margin-top: 32px;
    }

    .member-img {
        width: 300px;
    }
    
    .content-tour {
        padding: 0;;
    }

    .content-tour-place-item {
        width: 100%;
    }

    .content-tour-place-item {
        padding: 8px;
    }

    .btn {
        display: block;
        text-align: center;
        width: 100%;
    }


    .content-contact-info {
        display: block;
        width: 100%;
        float: none;
    }

    .content-contact-send {
        width: 100%;
    }

    .content-contact-send input {
        width: 100%;
    }

    .content-contact-send input:last-child {
        width: 100%;
    }
}

@media (hover: hover) {
    #nav li:hover .subnav {
        display: block;
    }
}
